@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Medium.woff2") format("woff2"),
    url("../../vendor/fonts/Inter-Medium.woff") format("woff");
}

.header {
  margin: 0;
  padding: 18px 70px;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 400px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

}

@media (max-width: 400px) {
  .header__button {
    font-size: 10px;
    line-height: 16px;
  }
}

.header__button_signup {
  background: none;
  border: none;
  color: #000000;
  text-align: center;
  margin-right: 30px;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 400px) {
  .header__button_signup {
    margin-right: 14px;
  }
}

.header__button_signin {
  background: #000000;
  border-radius: 3px;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 20px;
  cursor: pointer;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__link-movies {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-right: 16px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__link-movies {
    display: none;
  }
}

.header__link-saved {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__link-saved {
    display: none;
  }
}

.header__link-profile {
  position: relative;
}

.header__button_profile {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #000000;
  padding: 9.5px 36px 9.5px 11px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 15%/50%;
  vertical-align: top;
  background: white;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

@media (max-width: 768px) {
  .header__button_profile {
    display: none;
  }
}

.header__img {
  position: absolute;
  width: 10.38px;
  height: 10.67px;
  right: 11.81px;
  top: 10.75px;
}

@media (max-width: 768px) {
  .header__img {
    display: none;
  }
}

.header__burger {
  display: none;
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  background-image: url(../../images/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.header__close {
  width: 22px;
  height: 22px;
  border: none;
  background: none;
  background-image: url(../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 22px;
  right: 22px;

}

.header__menu {
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.header__menu_active {
  display: none;
}

@media (max-width: 768px) {
  .header__menu_active {
    display: block;
    background: white;
    height: 100vh;
    width: 520px;
    top: 0px;
    right: 0px;
    position: absolute;
    opacity: 1;
    visibility: visible;
    transition: all 0.25s ease;
    z-index: 10;
  }
}

@media (max-width: 550px) {
  .header__menu_active {
    width: 100%;
    max-width: 500px;
  }
}

.header__sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__sidebar-main {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-bottom: 28px;
  margin-top: 159px;
}

@media (max-width: 550px) {
  .header__sidebar-main {
    margin-top: 144px;
    margin-bottom: 24px;
  }
}

.header__sidebar-movies {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  border: 2px solid rgba(00, 00, 00, 1);
  border-style: none none solid none;
  padding-bottom: 4px;
  margin-bottom: 22px;
  text-decoration: none;
  width: 72px;
}

@media (max-width: 550px) {
  .header__sidebar-movies {
    margin-bottom: 24px;
  }
}


.header__sidebar-saved {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.header__sidebar-profile {
  margin-bottom: 90px;
  position: relative;
  width: 101px;
}

@media (max-width: 550px) {
  .header__sidebar-profile {
    margin-bottom: 46px;
  }
}

.header__sidebar-button {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #000000;
  padding: 9.5px 36px 9.5px 11px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 15%/50%;
  vertical-align: top;
  background: white;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.header__sidebar-img {
  position: absolute;
  width: 10.38px;
  height: 10.67px;
  right: 11.81px;
  top: 10.75px;
}