.card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.elements-grid__item {
position: relative;
}

.elements-grid__text {
    margin-left: 14px;
    margin-bottom: 14px;
}

.elements-grid__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 14px 0 9px;
}

.elements-grid__time {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
   
}

.elements-grid__flag { 
        position: absolute; 
        right: 14px; 
        top: 5px; 
        padding: 0; 
        width: 30px; 
        height: 30px; 
        border: none; 
        background: none; 
        background-image: url(../../../images/flagwhite.svg); 
        background-repeat: no-repeat; 
        background-size: contain; 
        cursor: pointer; 
}

.elements-grid__flag_active {
    position: absolute; 
        right: 14px; 
        top: 5px; 
        padding: 0; 
        width: 30px; 
        height: 30px; 
        border: none; 
        background: none; 
        background-image: url(../../../images/flagblack.svg); 
        background-repeat: no-repeat; 
        background-size: contain; 
        cursor: pointer;
}
.elements-grid__flag_delete {
    position: absolute; 
        right: 14px; 
        top: 5px; 
        padding: 0; 
        width: 30px; 
        height: 30px; 
        border: none; 
        background: none; 
        background-image: url(../../../images/delete.svg); 
        background-repeat: no-repeat; 
        background-size: contain; 
        cursor: pointer;
}

.elements-grid__img-container {
    height: 203px;
}
@media (max-width: 768px) {
    .elements-grid__img-container {
        height: 190px;
    }
}
@media (max-width: 600px) {
    .elements-grid__img-container {
        height: 300px;
    }
}
@media (max-width: 450px) {
    .elements-grid__img-container {
        height: 200px;
    }
}
@media (max-width: 320px) {
    .elements-grid__img-container {
        height: 168px;
    }
}

.elements-grid__image {
    width: 100%;
    height: 100%;
}