.form {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.form__container {
    border: 1px solid rgba(232, 232, 232, 1);
    border-style: none none solid none;
    margin-left: 70px;
    margin-right: 70px;
}

@media (max-width: 768px) {
    .form__container {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 320px) {
    .form__container {
        margin-left: 14px;
        margin-right: 14px;
    }
}

.form__input {
    margin: 60px 0px 42px;
    background: #F9F9F9;
    border-radius: 40px;
    border: none;
    height: 46px;
    padding: 0;
    padding-left: 22px;
    width: calc(100% - 22px);
    z-index: 1;
    position: relative;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #A0A0A0;
}

@media (max-width: 768px) {
    .form__input {
        margin-top: 80px;
    }
}

@media (max-width: 320px) {
    .form__input {
        margin-bottom: 43px;
        padding-left: 19px;

        font-size: 11px;


    }
}

.form__button {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: black;
    border-radius: 40px;
    border: none;
    padding: 8px 10px 8px 10px;
    position: absolute;
    z-index: 3;
    right: 76px;
    top: 144px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .form__button {
        right: 36px;
        top: 166px;
    }
}

@media (max-width: 320px) {
    .form__button {
        right: 20px;
    }
}

.checkbox {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .checkbox {
        margin-bottom: 50px;
    }
}

.checkbox-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 36px;
    height: 20px;
    border-radius: 25%/50%;
    vertical-align: top;
    background: white;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.checkbox-switch:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #eee;
    transition: .15s;
}

.checkbox-input {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-input:checked+.checkbox-switch:before {
    transform: translateX(15px);
    background: #2BE080;
}

.checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-left: 12px;
}

@media (max-width: 320px) {
    .checkbox-text {
        font-size: 11px;
        margin-left: 13px;
    }
}