.login {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login__container {
    width: 396px;
}

@media (max-width: 450px) {
    .login__container {
        text-align: center;
        width: 260px;

    }
}

.login__logo {
    margin: 70px auto 40px;
}

@media (max-width: 768px) {
    .login__logo {
        margin-top: 232px;
    }
}

@media (max-width: 450px) {
    .login__logo {
        margin: 56px auto 50px;
    }
}

.login__welcome {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
}

@media (max-width: 450px) {
    .login__welcome {
        margin-bottom: 80px;
    }
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media (max-width: 450px) {
    .login__form {
        text-align: start;
    }
}

.login__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-bottom: 10px;
}

.login__input {
    background: #F9F9F9;
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 15px 15px;
    margin: 0;
    margin-bottom: 20px;

}

.login__button-container {
    margin: 0;
    margin-top: 159px;
    margin-bottom: 16px;
    height: 45px;
    width: 100%;
}

@media (max-width: 450px) {
    .login__button-container {
        margin-top: 247px;
        margin-bottom: 14px;
    }
}

.login__link {
    height: 100%;
    width: 100%;
    background: #A0A0A0;;
    border-radius: 3px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
@media (max-width: 450px) {
    .login__link {
        font-size: 12px;
        line-height: 15px;
    }
}

.login__link_active {
    height: 100%;
    width: 100%;
    background: #000000;
    border-radius: 3px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 450px) {
    .login__link_active {
        font-size: 12px;
        line-height: 15px;
    }
}

.login__signup {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    text-align: center;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .login__signup {
        margin-bottom: 232px;
    }
}

@media (max-width: 450px) {
    .login__signup {
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 15px;
    }
}

.login__login-link {
    color: #000000;
    text-decoration: none;
}

.login__info{
    display: none;
}

.login__info_active{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FF4062;
}