.caption {
    margin: 0;
    padding: 110px 0 0;
}
@media (max-width: 768px) {
    .caption {
        padding-top: 90px;
    }
}

@media (max-width: 500px) {
    .caption {
        padding-top: 70px;
    }
}

.caption__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 1);
    border-style: none none solid none;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
}

@media (max-width: 500px) {
    .caption__header {
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }
}